body {
    background-color: #EDEEF5;
}

/* HEADER CONTENT */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #31343D;
    height: 100px;
}

header ul {
    display: flex;
    margin-right: 50px;
}

header li {
    margin: 0 15px;
    padding-bottom: 5px;
    border-bottom: 2.5px solid #92CBCD;
}

header a {
    text-decoration: none;
    color: #92CBCD;
    font-size: 1.5rem;
}

h1 {
    font-size: 2.5rem;
    color: #31343D;
    padding: 17.5px 17.5px 17.5px 10%;
    background-color: #92CBCD;
}

@media screen and (max-width: 955px) {
    header a {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 700px) {
    header a {
        font-size: 1rem;
    }
}

/* HEAD IMAGE */
.headImage {
    position: relative;
    background-image: url(../images/head-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 175px;
}

.headImage h2 {
    /* Style */
    font-size: 1.75rem;
    background-color: #92CBCD;
    width: fit-content;
    padding: 10px;
    /* Position */
    position: absolute;
    bottom: 25px;
    right: 50px;
}

/* Main */
section {
    display: flex;
    margin: 50px 10% auto 15%;
}

aside {
    width: fit-content;
    border-right: 5px solid #445876;
    padding-right: 50px;
}

h3 {
    color: #445876;
    font-size: 2.25rem;
    margin-left: 15%;
    text-align: right;
    width: 135px;
}

/* About Me */
.aboutMeText {
    margin-left: 25px;
    line-height: 1.5rem;
}

@media screen and (max-width: 768px) {
    section {
        flex-direction: column;
        margin: 25px 10%;
    }

    aside {
        border-right: none;
        border-bottom: 5px solid #445876;
        padding-right: 0;
        margin-bottom: 15px;
        width: auto;
    }

    h3 {
        text-align: center;
        margin-left: 0;
        width: auto;
    }
}

/* Work Section */
.grid {
    width: 100%;
    margin-left: 25px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.largeIcon {
    grid-column: 1/3;
    grid-row: 1/3;
    /* Styling */
    height: 500px;
    border: 3px solid #92CBCD;
    /* Image */
    background-image: url(../images/head-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.squareIcon {
    height: 250px;
    border: 3px solid #92CBCD;
}

#sq1 {
    background-image: url(../images/img-1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#sq2 {
    background-image: url(../images/img-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#sq3 {
    background-image: url(../images/img-3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#sq4 {
    background-image: url(../images/img-4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h4 {
    background-color: #92CBCD;
    width: fit-content;
    padding: 15px;
    position: relative;
    top: 65%;
}

.grid a:hover {
    opacity: 75%;
}

/* Media query for column layout */
@media (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr;
    }

    .grid {
        margin-left: 0;
    }

    .largeIcon,
    .squareIcon {
        grid-column: auto;
        grid-row: auto;
        height: auto;
    }

    h4 {
        font-size: .75rem;
        padding: 7.5px;
        top: 60%;
    }
}

/* Contact Me */
.contactMeSection {
    padding-bottom: 50px;
}

.contactMeSection ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.contactMeSection a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}

.contactMeSection li {
    border-bottom: 2.5px solid #92CBCD;
    padding-bottom: 5px;
}

@media (max-width: 768px) {
    .contactMeSection ul {
        flex-direction: column;
    }

    .contactMeSection li {
        margin: 5px auto;
    }
}