/* HEADER CONTENT */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #31343D;
    height: 100px;
}

header ul {
    display: flex;
    margin-right: 50px;
}

header li {
    margin: 0 15px;
    border-bottom: 2.5px solid #92CBCD;
}

header a {
    text-decoration: none;
    color: #92CBCD;
    font-size: 1.5rem;
}

h1 {
    font-size: 2.5rem;
    color: #31343D;
    padding: 17.5px 17.5px 17.5px 10%;
    background-color: #92CBCD;
}

/* HEAD IMAGE */
.headImage {
    position: relative;
    background-image: url(../images/head-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 175px;
}

.headImage h2 {
    /* Style */
    font-size: 1.75rem;
    background-color: #92CBCD;
    width: fit-content;
    padding: 10px;
    /* Position */
    position: absolute;
    bottom: 25px;
    right: 50px;
}